:root {
  --white: #fff;
  --black: #000;
  --main_color: #172339; /* Dark blue*/
  --accent_color: #f3ede7; /* Cream */
  --font_color: #49566d; /* Grey */
  --main-bg_color: #faf8f6;

  --main_font: "Epilogue";
  --size_font: 18px;

  --padding: 2.5rem;
  --container: 1110px;

  --primary_color: #a060ff;
  --second_color: #cb30e3;
  --third_color: #ffa84e;

  --btn_gradient: linear-gradient(135deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  --box_gradient: radial-gradient(100% 100% at 100% 100%, #a060ff 0%, #cb30e3 33.18%, #ffa84e 100%);

  --animatinon: 0.4s ease 0.1s;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:active,
:focus {
  outline-color: var(--main_color);
}

html,
body {
  min-width: 320px;
  height: 100%;
}

body {
  font-family: var(--main_font);
  font-size: var(--size_font);
  font-weight: 400;
  line-height: 1.78;
  font-style: normal;
  letter-spacing: 0.1px;
  color: var(--font_color);
  background-color: var(--main-bg_color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul > li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

button {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.wrapper > main {
  flex: 1 1 auto;
}

/* .container {
  margin: 0 auto;
  max-width: var(--container);
  padding: 0 var(--padding);
  background-color: var(--primary_color);
} */

.container {
  margin: 0 auto;
  width: calc(100% - (var(--padding) * 2));
  max-width: var(--container);
  /* background-color: var(--accent_color); */
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  padding: 12px 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.78;
  letter-spacing: -0.18px;
  color: var(--main-bg_color);
  border-radius: 6px;
  cursor: pointer;
}
.btn__main {
  position: relative;
  z-index: 1;
  border: 1px solid var(--main-bg_color);
  background: var(--main_color);
}
.btn__main::after {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: var(--btn_gradient);
  opacity: 0;
  border-radius: 5px;
  transition: opacity var(--animatinon);
  content: "";
}
.btn__main:hover::after {
  opacity: 1;
}
.btn__second {
  color: var(--main_color);
  border: 1px solid var(--main_color);
  transition: background var(--animatinon), color var(--animatinon);
}
.btn__second:hover {
  color: var(--main-bg_color);
  background: var(--main_color);
}

.soc-icons {
  width: 20px;
  height: 20px;
  fill: var(--main_color);
}
.soc-icons:hover {
  opacity: 0.5;
}

/* header */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 9.75rem;
}
/* end header */

/* hero */
.hero {
  padding: 18px 0 146px;
}
.hero > .container {
  display: grid;
  grid-template-columns: 74.5% 17.5%;
  grid-template-rows: 37.5rem;
  column-gap: 6rem;
}
.hero__content {
  height: 100%;
  background-repeat: no-repeat;
  /* background-size: 360px 600px; */
  background-size: contain;
  background-position: right bottom;
  background-image: url(../assets/images/bg/image-hero-portrait@2x.webp);
}
.hero__title {
  position: relative;
  padding-top: 126px;
  max-width: 635px;
  margin-bottom: 2.5rem;
}
.hero__title::before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* transform: translateY(-44px); */
  background-repeat: no-repeat;
  background-position: right 62px top 62px;
  background-image: url(../assets/images/patterns/pattern-curved-line-1.svg);
  content: "";
}
.hero__title + p {
  max-width: 350px;
  margin-bottom: 3.25rem;
}
.hero__column {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  row-gap: 64px;
}
.hero__column-block {
}

/* end hero */

/* works */
.works {
}
.works > .container {
  position: relative;
  display: grid;
  grid-template-columns: minmax(375px, 0.5fr) 147px 350px;
  grid-template-rows: 545px;
  justify-content: center;
  justify-items: center;
  background: var(--main_color);
  border-radius: 15px;
}
.works__images {
  margin-top: -45px;
  width: 375px;
  height: 600px;
  background: url(../assets/images/jeremy/image-jeremy-large.png) no-repeat center,
  url(../assets/images/patterns/pattern-blur.svg) no-repeat right 25px bottom / contain;
}
.works__decor {
  align-self: start;
  transform: translateY(10rem);
}
.work__text {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.work__text > * {
  color: var(--accent_color);
}
.work__text-footer > * {
  color: var(--accent_color);
}

/* end works */
